/* selectors */
/* html {
    font-size: 16px;
}


h1 {
    font-size: 64px;
    color: purple;
}

.gray {
    color: gray;
} */

/* try not to use ids for css */
/* #second {
    font-style: italic;
}

h2, h3 {
    color: blue;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}

p {
    color: red;
} */

/* colors */

body {
    background: rgb(236, 226, 208);
}

article {
    color: #0a1128;
}

/* Units and sizing  */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    border: 2px dashed red;
    width: 75%;
    font-size: 3rem;
    padding: 0.5em;
}

main {
    font-size: 2rem;
}

body {
    width: 100vw;
}

p{
    font-size: 1.2rem;
    width: 40ch;
} */


/* Box Models */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 10px outset red;
    /* border-top-color: blue; */
    font-size: 1.5rem;
    margin: 1.5em;
    padding: 1.5em;
}

.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: gold;
    border: 2px solid #0a1128;
    outline: 2px solid red;
    outline-offset: .25rem;
    margin: 1em auto;

}
